streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
faiss-cpu
sentence-transformers
pdfplumber
pypdf
python-docx
docx2txt
numpy
pandas
python-dotenv
huggingface_hub
pdf2image
PyMuPDF
pypdfium2
Pillow
rank_bm25
pytesseract
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
